body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 700;
  flex-direction: column;
  row-gap: 15px;
  text-shadow: 1px 1px 2px black, 0 0 1em gray;

  color: bisque;
  .momentum {
    width: 750px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 40px;
    color: #ffffff;
    &__content_dateTime {
      width: 750px;
    }
    &__time {
      font-size: 160px;
    }
    &__hello {
      font-size: 45px;
      color: bisque;
      width: 600px;
      height: 110px;
      white-space: nowrap;
      overflow: hidden;

      & span {
        display: inline-block;
        &:nth-child(1) {
          width: 350px;
        }
        &:nth-child(2) {
          max-width: 300px;
          &:focus {
            border-bottom: 2px solid #ffffff;
            outline-style: none;
            min-width: 200px;
          }
          &:hover {
            border-bottom: 2px solid #ffffff;
            cursor: pointer;
          }
          &::placeholder {
            // outline: none;
            // outline-style: none;
          }
        }
      }
    }
    &__focus {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 600px;
      height: 200px;
      text-align: center;
      justify-content: space-between;
      & span {
        display: inline-block;
        &:nth-child(1) {
          width: 500px;
        }
        &:nth-child(2) {
          max-width: 100%;
          &:focus {
            border-bottom: 2px solid #ffffff;
            outline-style: none;
            white-space: nowrap;
            min-width: 200px;
          }
          &:hover {
            border-bottom: 2px solid #ffffff;
            cursor: pointer;
          }
          &::placeholder {
            // outline: none;
            // outline-style: none;
          }
        }
      }
    }
  }

  .bodyBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    transition: background-image 1s ease-in-out;
  }
}
